body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.hidden {
    display: none;
}

#start button, #submit button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
    margin-top: 23%;
}

#quiz {
    background: white;
    padding: 20px;
    border-radius: 5px;
    margin-top: 23%;
    max-width: 500px;
    margin: auto;
    background-color: red;
}

#question {
    font-size: 18px;
    margin-bottom: 15px;
}

#choices {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 10px; 
}

#choices button {
    padding: 10px;
    border: 1px solid #ddd;
    background: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    background-color: cyan;
}

#choices button:hover {
    background-color: #f0f0f0;
}

#score {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}
#timer
{
    border: 2px solid black;
    width: 100px;
    height: 20px;
    border-radius: 20px;
    margin: 20px;
}
